/*********** アプリ共通 ***********/
*{
	margin: 0;
	padding: 0;
}

#account{
	position: relative;
	font-family: 'Noto Sans JP', sans-serif;
}

/*********** セクション共通 ***********/
section{
	width: 70%;
	height: 100vh;
	box-shadow:  7px 0px 6px -6px #555 inset;
}

table{
	border-collapse: collapse;
	border-color: #bbb;
	background-color: #eee;
	color: #222;
}

table td{
	padding-left: 1em;
	font-weight: 300;
}

/*********** サイドメニュー ***********/
.side_menu{
	position: fixed;
	width: 30%;
	height: 100vh;
	background-color: #212528;
}

.side_menu ul{
	position: absolute;
	top: 15%;
	left: 5%;
	width: 90%;
	height: 70%;
}

.side_menu ul > li{
	list-style: none;
	display: block;
	width: 100%;
	height: 25%;
}

.side_menu ul > li > a{
	text-decoration: none;
	font-size: 20px;
	color: #e7dbc1;
	font-weight: 300;
	text-shadow: 0 0 10px #999;
}

.side_menu ul > li > a:hover{
	text-shadow:  0 0 15px #f7cbb1;
}




/*********** 家計簿情報登録画面 ***********/
.info_register{
	background-color: #d6ccc4;
	position: absolute;
	top: 0;
	right: 0;
}

.register_title{
	display: flex;
	width: 80%;
	height: 50px;
	margin: 30px auto 0 auto;
}

.register_title > div{
	width: 80px;
	height: 100%;
	border-radius: 10px 10px 0 0;
	position: relative;
	cursor: pointer;
	box-shadow: 2px -5px 10px -5px #222
}

.input_tab{
	background-color: #c4996d;
}

.output_tab{
	background-color: #1e130d;
	color: #fff;
}

.register_title > div > span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.info_register form{
	width: 100%;
	height: 100%;
}

.info_register form >div{
	width: 90%;
	height: 20%;
	margin: 0 auto;
}

.info_register form > div > input{
	width: 80%;
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
}

.info_register form > div > select{
	width: 80%;
	height: 25px;
	font-size: 16px;
}

.infoTable{
	width: 80%;
	margin: 20px auto;
}

.info_register table th{
	width: 25%;
	background-color: #c4996d;
}

.inputRegister{
	width: 80%;
	height: 40%;
	margin: 0 auto;
	background-color: #c4996d;
	border-radius: 0 10px 10px 10px;
	box-shadow: 3px -3px 10px -3px #444;
}

.outputRegister{
	width: 80%;
	height: 40%;
	margin: 0 auto;
	background-color: #1e130d;
	border-radius: 0 10px 10px 10px;
	color: #fff;
	box-shadow: 3px -3px 10px -3px #444;
}

section > h1{
	color: #f0f5f6;
	background-color: #56626e;
	padding: 10px;
	padding-left: 10%;
	box-shadow: 0px 5px 5px -5px #222;
}

.inputRegister > form > div > p{
	font-size: 14px;
}

.outputRegister > form > div > p{
	font-size: 14px;
}




/*********** 仕訳帳表示画面 ***********/
.journal{
	background-color: #d6ccc4;
	position: absolute;
	top: 0;
	right: 0;
}


/* 仕訳帳条件 */
.journalInput{
	width: 80%;
	margin: 20px auto;
}

.journalInput form > div{
	position: relative;
}

.journalInput .journalDate, .journalInput select{
	position: absolute;
	left: 100px;
	top: 50%;
	transform: translateY(-50%);
}

.journalInput form >div{
	width: 90%;
	height: 25%;
	margin-bottom: 10px;
}

.journalInput form > div input{
	width: 40%;
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
}

.journalInput form > div > select{
	width: 60%;
	height: 25px;
	font-size: 16px;
}


/* 仕訳帳情報表示 */
.journalTable{
	width: 80%;
	margin: 20px auto;
}




/*********** 合計残高試算表表示画面 ***********/
.balance{
	background-color: #d6ccc4;
	position: absolute;
	top: 0;
	right: 0;
}

.balance_title{
	display: flex;
	width: 80%;
	height: 50px;
	margin: 30px auto 0 auto;
}

.balance_title > div{
	width: 80px;
	height: 100%;
	border-radius: 10px 10px 0 0;
	position: relative;
	cursor: pointer;
	box-shadow: 2px -5px 10px -5px #222
}

.balance_title > div > span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/****** 予算登録 ******/
.inputBudget{
	width: 80%;
	height: 70%;
	margin: 0 auto;
	background-color: #c4996d;
	border-radius: 0 10px 10px 10px;
	box-shadow: 3px -3px 10px -3px #444;
}

.inputBudget > form{
	width: 90%;
	margin: 0 auto;
	padding-top: 10px;
	justify-content: space-around;
}

.inputBudget > form > div{
	display: flex;
}

.inputBudget > form > div > div{
	width: 25%;
}

.inputBudget form > div > div > p{
	font-size: 14px;
}

.inputBudget form > div > div > input{
	width: 80%;
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
}

.inputBudget form > div > div > select{
	width: 80%;
	height: 30px;
	font-size: 16px;
}

.inputBudget form > div > input[type="submit"]{
	height: 25px;
}

.budgetTable > table{
	margin: 10px auto;
}

.budgetTable > table tr{
	background-color: #eee;
}


/****** 合計残高試算表 ******/
.outputBalance{
	width: 80%;
	height: 70%;
	margin: 0 auto;
	background-color: #1e130d;
	border-radius: 0 10px 10px 10px;
	color: #fff;
	box-shadow: 3px -3px 10px -3px #444;
}

.outputBalance > form{
	padding-top: 10px;
	margin-left: 5%;
}

.outputBalance > form > p{
	font-size: 14px;
}

.balanceTable{
	width: 90%;
	margin: 20px auto;
}




/*********** 貸借対照表表示画面 ***********/
.bs{
	background-color: #d6ccc4;
	position: absolute;
	top: 0;
	right: 0;
}


/****** 貸借対照表 ******/
.bs_title{
	display: flex;
	width: 80%;
	height: 50px;
	margin: 30px auto 0 auto;
}

.bs_title > div{
	width: 80px;
	height: 100%;
	border-radius: 10px 10px 0 0;
	position: relative;
	cursor: pointer;
	box-shadow: 2px -5px 10px -5px #222
}

.bs_title > div > span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bsDetail{
	width: 80%;
	height: 80%;
	overflow: scroll;
	margin: 0 auto;
	background-color: #c4996d;
	border-radius: 0 10px 10px 10px;
	box-shadow: 3px -3px 10px -3px #444;
}

.plDetail{
	width: 80%;
	height: 70%;
	margin: 0 auto;
	background-color: #1e130d;
	border-radius: 0 10px 10px 10px;
	color: #fff;
	box-shadow: 3px -3px 10px -3px #444;
}

.bsDetail > form{
	padding-top: 10px;
	margin-left: 5%;
}

.bsDetail > form > p{
	font-size: 14px;
}

.plDetail > form{
	padding-top: 10px;
	margin-left: 5%;
}

.plDetail > form > p{
	font-size: 14px;
}

.bsTable{
	display: flex;
	width: 90%;
	margin: 20px auto 0 auto;
	border-style: solid;
	border-width: thin;
	background-color: #eee;
}

.bsDetail_title{
	width: 100%;
	border-style: solid;
	border-width: thin;
	margin: -1px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.asset{
	width: 50%;
	border-style: solid;
	border-width: thin;
	margin: -1px;
}

.asset .bsDetail_title{
	background-color: #6699FF;
}

.debtwrapper{
	width: 50%;
	border-style: solid;
	border-width: thin;
	margin: -1px;	
}

.debt{
	width: 100%;
}

.debt .bsDetail_title{
	background-color: #CC0000;
}

.nAsset{
	width: 100%;
}

.nAsset .bsDetail_title{
	background-color: #FFCC33;
}

.account_category{
	width: 100%;
	border-style: solid;
	border-width: thin;
	margin: -1px;
}

.category_title{
	font-size: 17px;
	padding-left: 20%;
	font-weight: bold;
}

.account_record{
	width: 100%;
	border-style: solid;
	border-width: thin;
	margin: -1px;
	display: flex;
}

.account_record > span{
	width: 50%;
	text-align: center;
}

.bsDetail_total{
	width: calc(90% - 2px);
	margin: 0 auto;
	display: flex;
	border-style: solid;
	background-color: #eee;
}

.asset_total{
	width: 100%;
	border-style: solid;
	border-width: thin;
	margin: -1px;
	display: flex;
	background-color: #CCFFFF;
}

.asset_total > span{
	width: 50%;
	text-align: center;	
}

.debt_total{
	width: 100%;
	border-style: solid;
	border-width: thin;
	margin: -1px;
	display: flex;
	background-color: #FF8856;
}

.debt_total > span{
	width: 50%;
	text-align: center;	
}

.nDebt_total{
	width: 100%;
    border-style: solid;
    border-width: thin;
    margin: -1px;
    display: flex;
}

.nDebt_total > span{
	width: 50%;
    text-align: center;
}

.nAsset_total{
	width: 100%;
    border-style: solid;
    border-width: thin;
    margin: -1px;
    display: flex;	
}

.nAsset_total > span{
	width: 50%;
    text-align: center;	
}


/****** 損益計算書 ******/
.plTable{
	display: flex;
	width: 90%;
	margin: 20px auto 0 auto;
	border-style: solid;
	border-width: thin;
}

.plTable > table{
	box-shadow: 0px 0px 15px -5px #222 inset;
}

.plsubject{
	padding-left: 10%;
}

.plamount{
	text-align: right;
	padding-right: 1em;
}



/*********** inputタグ共通 ***********/
form > div > input[type="submit"]{
	width: 80px;
	margin-top: 20px;
}

input[type="month"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input[type="month"]::-webkit-clear-button{
    -webkit-appearance: none;
}
