body{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

section{
	width: 100%;
}

/* navigation header */
header {
  padding: 30px 0;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.top-nav {
  font-size: 16px;
  display: block;
  float: right;
  position: relative;
  top: 0;
  right: 40px;
}

.service-header .top-nav li {
  display: inline-block;
  margin-left: 30px;
}

.top-nav li:hover {
  border-bottom: 2px solid #cecac5;
}

.service-header .top-nav li a {
  color: #efa73d;
}

.service-header .top-nav a:hover {
  color: #ecbe79;
}

/* top page title */
#page-title{
	width: 100%;
	height: 100px;
	margin-top: 30vh;
	margin-bottom: 20vh;
}

#page-title h1{
	font-size: 36px;
	text-align: center;
	letter-spacing: 10px;
}

#page-title p{
	font-size: 14px;
	text-align: center;
	letter-spacing: 8px;
}

/* circle section */
.circle-wrapper{
	width: 60vw;
	min-width: 600px;
	height: 60vw;
	min-height: 600px;
	margin: 0 auto;
	position: relative;
}

#left-circle{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: #777;
	transition: all 2s ease;
}

#right-circle{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: #777;
	transition: all 2s ease;
}

#left-circle.active{
	width: 80%;
	height: 80%;
	transform: translate(-75%, -50%);
}

#right-circle.active{
	width: 80%;
	height: 80%;
	transform: translate(-25%, -50%);
}

#left-circle.active:hover{
	background-color: #777;
	z-index: 10;
}

#right-circle.active:hover{
	background-color: #777;
	z-index: 10;
}

.circle-title{
	font-size: 16px;
	color: #fff;
	height: 100%;
	width: 50%;
	position: relative;
}

#left-wrapper{
	margin: 0 auto 0 0;
}

#right-wrapper{
	margin: 0 0 0 auto;
}

.circle-title > h1{
	position: absolute;
	top: 50%;
}

#front{
	height: 100vh;
}

#end{
	height: 100vh;
}
