body{
	margin: 0;
	padding: 0;
	background: #23211d;
	color: #eee;
	-ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display:none;
}

a{
	text-decoration: none;
}

section{
	width: 100%;
}

/* navigation header */
header {
  padding: 30px 0;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.top-nav {
  font-size: 16px;
  display: block;
  float: right;
  position: relative;
  top: 0;
  right: 40px;
}

.service-header .top-nav li {
  display: inline-block;
  margin-left: 30px;
}

.top-nav li:hover {
  border-bottom: 2px solid #cecac5;
}

.service-header .top-nav li a {
  color: #efa73d;
}

.service-header .top-nav a:hover {
  color: #ecbe79;
}

/* top page title */
#service-top{
	margin-bottom: 30vh;
}

#page-title{
	width: 100%;
	height: 100px;
	margin-top: 30vh;
	margin-bottom: 40vh;
}

#page-title h1{
	font-size: 36px;
	text-align: center;
	letter-spacing: 10px;
	font-weight: lighter;
}

#page-title p{
	font-size: 14px;
	text-align: center;
	letter-spacing: 8px;
	color: #999;
}

/* circle section */
.circle-wrapper{
	width: 60vw;
	min-width: 600px;
	height: 60vw;
	min-height: 600px;
	margin: 0 auto;
	position: relative;
}

#left-circle{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: #777;
	color: #23211d;
	transition: all 1s ease;
}

#left-circle::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	transform: scale(1);
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	background: #eee;
	color: #23211d;
	opacity: 0;
	z-index: -1;
}

#right-circle{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: #777;
	color: #23211d;
	transition: all 1s ease;
}

#right-circle::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	transform: scale(1);
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	background: #eee;
	color: #23211d;
	opacity: 0;
	z-index: -1;
}

#left-circle.click::before, #right-circle.click::before{
	animation-name: circle-scale;
	animation-duration: 2s;
}


#left-circle.active{
	width: 80%;
	height: 80%;
	transform: translate(-75%, -50%);
}

#right-circle.active{
	width: 80%;
	height: 80%;
	transform: translate(-25%, -50%);
}

#left-circle.active:hover{
	width: 90%;
	height: 90%;
	background: #eee;
	cursor: pointer;
	z-index: 10;
}

#right-circle.active:hover{
	width: 90%;
	height: 90%;
	background: #eee;
	cursor: pointer;
	z-index: 10;
}

.circle-title{
	font-size: 16px;
	height: 100%;
	width: 50%;
	position: relative;
}


#left-wrapper{
	margin: 0 auto 0 0;
}

#right-wrapper{
	margin: 0 0 0 auto;
}

.circle-title > .push-content{
	width: 85%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translate(0, -50%);
	transition: all ease 1s;
}

#left-circle.active:hover .push-content{
	left: 30%;
}

#right-circle.active:hover .push-content{
	left: 5%;
}

.circle-title h1{
	font-size: 36px;
	padding-top: 30%;
	transition: all ease 1s;
	color: #23211d;
}

#left-circle.active .circle-title h1{
	font-size: 36px;
	padding-top: 30%;
	transition: all ease 1s;
	color: #fff;
}

#right-circle.active .circle-title h1{
	font-size: 36px;
	padding-top: 30%;
	transition: all ease 1s;
	color: #fff;
}

#left-circle.active:hover .circle-title h1{
	font-size: 42px;
	color: #333;
}

#right-circle.active:hover .circle-title h1{
	font-size: 42px;
	color: #333;
}



.down-arrow{
	width: 1px;
	height: 0px;
	top: 25%;
	border-right: 3px solid transparent;
	box-sizing: border-box;
	transition: all ease 1s;
}

#left-circle .down-arrow{
	position: absolute;
	right: -25%;
	transform: translateY(-50%);
}

#left-circle .down-arrow::after{
	content: "";
	position: absolute;
	bottom: 0px;
	right: -18px;
	border-left: 15px solid transparent;
	border-bottom: 20px solid transparent;
}

#right-circle .down-arrow{
	position: absolute;
	left: -25%;
	transform: translateY(-50%);
}

#right-circle .down-arrow::after{
	content: "";
	position: absolute;
	bottom: 0px;
	left: -15px;
	border-right: 15px solid transparent;
	border-bottom: 20px solid transparent;
}

#left-circle.active:hover .down-arrow{
	border-right: 3px solid #efa73d;
	top: 50%;
	height: 200px;
}

#left-circle.active:hover .down-arrow::after{
	border-left: 15px solid #efa73d;
}

#right-circle.active:hover .down-arrow{
	border-right: 3px solid #efa73d;
	top: 50%;
	height: 200px;
}

#right-circle.active:hover .down-arrow::after{
	border-right: 15px solid #efa73d;
}


/* content sections */
.content-wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
}

.content-title{
	width: 100%;
	height: 30vh;
	position: absolute;
	top: 30vh;
	left: 0;
	text-align: center;
	vertical-align: middle;
	line-height: 30vh;
}

.content-title > h1{
	font-size: 52px;
	font-weight: lighter;
	color: #efa73d;
}

.img-wrapper{
	position: relative;
	width: 100%;
	height: 95vh;
	margin-top: 2.5vh;
}

.img-wrapper > img{
	height: 100%;
	border: 3px solid #555;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.img-wrapper::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #d5cdc5;
	opacity: 0.3;
}

.text-wrapper{
	width: 100%;
	height: 30%;
	border: 1px solid #555;
	padding: 20px;
	color: #555;
	z-index: 10;
}

.content-text{
	width: 70%;
	margin: 0 auto;
	font-size: 14px;
}


/* front section */
#front{
	padding-bottom: 20vh;
	background-color: #eee;
}

#front::before{
	content: '';
	width: 100%;
	height: 100vh;
	position: absolute;
	background: #eee;
	z-index: 999;
	opacity: 0;
}

#front.hidden::before{
	animation-name: section-hidden;
	animation-duration: 3s;
}

#front-content{
	width: 40%;
	height: 100vh;
}

#front-img{
	width: 60%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#front-content {
	position: relative;
}

#front-content > .text-wrapper{
	position: absolute;
	top: 60%;
	left: 45px;
}


/* end section */
#end{
	padding-bottom: 3vh;
	background-color: #eee;
}

#end::before{
	content: '';
	width: 100%;
	height: 100vh;
	position: absolute;
	background: #eee;
	opacity: 0;
	z-index: 999;
}

#end.hidden::before{
	animation-name: section-hidden;
	animation-duration: 3s;
}

#end-content{
	width: 40%;
	height: 100vh;
}

#end-img{
	width: 60%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#end-content {
	position: relative;
}

#end-content > .text-wrapper{
	position: absolute;
	top: 60%;
	left: -45px;
}


@keyframes circle-scale{
	0% {
        opacity:0;
        transform: scale(1);
        z-index: -1;
    }
    50%{
		opacity: 1;
		transform: scale(10);
    	z-index: 100;
    }
    100% {
        opacity:0;
        transform: scale(1);
        z-index: -1;
    }
}

@keyframes section-hidden{
	0% {
        opacity:0;
    }
    30%{
		opacity: 1;
    }
    100% {
        opacity:0;
    }
}
