body{
	margin: 0;
	padding: 0;
	background: #23211d;
	color: #eee;
	-ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display:none;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

section{
	width: 100%;
	overflow-x: hidden;
}

/* navigation header */
header {
  padding: 30px 0;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
}

.mobile-menu{
  display: none;
}

.top-nav {
  font-size: 16px;
  display: block;
  float: right;
  position: relative;
  top: 0;
  right: 40px;
}

.service-header .top-nav li {
  display: inline-block;
  margin-left: 30px;
}

.top-nav li:hover {
  border-bottom: 2px solid #cecac5;
}

.service-header .top-nav li a {
  color: #efa73d;
}

.service-header .top-nav a:hover {
  color: #ecbe79;
}

#top-logo{
  margin-left: 15px;
}

#top-logo img{
  height: 40px;
  transform: translateY(-9px);
}


/* top page title */
#service-top{
	padding-top: 40vh;
	padding-bottom: 30vh;
}

#page-title{
	width: 100%;
	height: 100px;
	margin-top: 30vh;
}

#page-title h1{
	font-size: 36px;
	text-align: center;
	letter-spacing: 10px;
	font-weight: lighter;
}

#page-title p{
	font-size: 14px;
	text-align: center;
	letter-spacing: 8px;
	color: #999;
}

/* circle section */
.circle-wrapper{
	width: 60vw;
	min-width: 600px;
	height: 60vw;
	min-height: 600px;
	margin: 0 auto;
	position: relative;
}

#left-circle{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: #777;
	color: #23211d;
	transition: all 1s ease;
}

#left-circle::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	transform: scale(1);
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	background: #eee;
	color: #23211d;
	opacity: 0;
	z-index: -1;
}

#right-circle{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: #777;
	color: #23211d;
	transition: all 1s ease;
}

#right-circle::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	transform: scale(1);
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	background: #eee;
	color: #23211d;
	opacity: 0;
	z-index: -1;
}

#left-circle.click::before, #right-circle.click::before{
	animation-name: circle-scale;
	animation-duration: 2s;
}


#left-circle.active{
	width: 80%;
	height: 80%;
	transform: translate(-75%, -50%);
}

#right-circle.active{
	width: 80%;
	height: 80%;
	transform: translate(-25%, -50%);
}

#left-circle.active:hover{
	width: 90%;
	height: 90%;
	background: #eee;
	cursor: pointer;
	z-index: 10;
}

#right-circle.active:hover{
	width: 90%;
	height: 90%;
	background: #eee;
	cursor: pointer;
	z-index: 10;
}

.circle-title{
	font-size: 16px;
	height: 100%;
	width: 50%;
	position: relative;
}


#left-wrapper{
	margin: 0 auto 0 0;
}

#right-wrapper{
	margin: 0 0 0 auto;
}

.circle-title > .push-content{
	width: 85%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translate(0, -50%);
	transition: all ease 1s;
}

#left-circle.active:hover .push-content{
	left: 30%;
}

#right-circle.active:hover .push-content{
	left: 5%;
}

.circle-title h1{
	font-size: 36px;
	padding-top: 30%;
	transition: all ease 1s;
	color: #23211d;
}

#left-circle.active .circle-title h1{
	font-size: 36px;
	padding-top: 30%;
	transition: all ease 1s;
	color: #fff;
}

#right-circle.active .circle-title h1{
	font-size: 36px;
	padding-top: 30%;
	transition: all ease 1s;
	color: #fff;
}

#left-circle.active:hover .circle-title h1{
	font-size: 42px;
	color: #333;
}

#right-circle.active:hover .circle-title h1{
	font-size: 42px;
	color: #333;
}

.down-arrow{
	width: 1px;
	height: 0px;
	top: 25%;
	border-right: 3px solid transparent;
	box-sizing: border-box;
	transition: all ease 1s;
}

#left-circle .down-arrow{
	position: absolute;
	right: -25%;
	transform: translateY(-50%);
}

#left-circle .down-arrow::after{
	content: "";
	position: absolute;
	bottom: 0px;
	right: -18px;
	border-left: 15px solid transparent;
	border-bottom: 20px solid transparent;
}

#right-circle .down-arrow{
	position: absolute;
	left: -25%;
	transform: translateY(-50%);
}

#right-circle .down-arrow::after{
	content: "";
	position: absolute;
	bottom: 0px;
	left: -15px;
	border-right: 15px solid transparent;
	border-bottom: 20px solid transparent;
}

#left-circle.active:hover .down-arrow{
	border-right: 3px solid #efa73d;
	top: 50%;
	height: 200px;
}

#left-circle.active:hover .down-arrow::after{
	border-left: 15px solid #efa73d;
}

#right-circle.active:hover .down-arrow{
	border-right: 3px solid #efa73d;
	top: 50%;
	height: 200px;
}

#right-circle.active:hover .down-arrow::after{
	border-right: 15px solid #efa73d;
}


/* content sections */
.content-wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
}

.content-title{
	width: 100%;
	height: 30vh;
	position: absolute;
	top: 30vh;
	left: 0;
	text-align: center;
	vertical-align: middle;
	line-height: 30vh;
}

.content-title > h1{
	font-size: 52px;
	font-weight: lighter;
	color: #efa73d;
}

.img-wrapper{
	position: relative;
	width: 100%;
	height: 95vh;
	margin-top: 2.5vh;
}

.img-wrapper > img{
	height: 100%;
	border: 3px solid #555;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.img-wrapper::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #d5cdc5;
	opacity: 0.3;
}

.text-wrapper{
	width: 100%;
	height: 30%;
	border: 1px solid #555;
	padding: 20px;
	color: #555;
	z-index: 10;
	background: #eee;
}

.content-text{
	width: 80%;
	margin: 0 auto;
	font-size: 14px;
}

.content-text > ul{
	display: flex;
	flex-wrap: wrap;
}

.content-text > ul > li{
	width: 20%;
    min-width: 50px;
	margin: 0 10px;
}

.skill-icon-wrapper{
	width: 100%;
	margin-top: 1em;
	text-align: center;
}

.skill-icon{
	font-size: 3em;
}

.skill-name{
	width: 100%;
	text-align: center;
}


/* front section */
#front{
	padding-bottom: 20vh;
	background-color: #eee;
}

#front::before{
	content: '';
	width: 100%;
	height: 100vh;
	position: absolute;
	background: #eee;
	z-index: 999;
	opacity: 0;
}

#front.hidden::before{
	animation-name: section-hidden;
	animation-duration: 3s;
}

#front-content{
	position: relative;
	width: 40%;
	height: 100vh;
}

#front-img{
	width: 60%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#front-content > .text-wrapper{
	position: absolute;
	top: 60%;
	left: 45px;
}


/* end section */
#end{
	padding-bottom: 3vh;
	background-color: #eee;
}

#end::before{
	content: '';
	width: 100%;
	height: 100vh;
	position: absolute;
	background: #eee;
	opacity: 0;
	z-index: 999;
}

#end.hidden::before{
	animation-name: section-hidden;
	animation-duration: 3s;
}

#end-content{
	width: 40%;
	height: 100vh;
}

#end-img{
	width: 60%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#end-content {
	position: relative;
}

#end-content > .text-wrapper{
	position: absolute;
	top: 60%;
	left: -45px;
}

/* responsive section */

/* tablet version */
@media screen and (max-width: 959px){

	.circle-wrapper {
	    min-width: unset;
	}

	#left-circle {
	    width: 60vw;
	    height: 60vw;
	}

	#left-circle.active {
	    width: 42vw;
	    height: 42vw;
	}

	#right-circle {
	    width: 60vw;
	    height: 60vw;
	}

	#right-circle.active {
	    width: 42vw;
	    height: 42vw;
	}

	#left-circle.active .circle-title h1 {
    	font-size: 24px;
    }

	#right-circle.active .circle-title h1 {
    	font-size: 24px;
    }

    #left-circle.active:hover {
		width: 45vw;
		height: 45vw;
	}

    #right-circle.active:hover {
		width: 45vw;
		height: 45vw;
	}

	#left-circle.active:hover .circle-title h1 {
    	font-size: 28px;
	}

	#right-circle.active:hover .circle-title h1 {
    	font-size: 28px;
	}
}

/* smart phone version */
@media screen and (max-width: 560px){

	/* header section */
  .mobile-menu{
    display: block;
    width: calc(100vw - 80px);
  }

  #menu-wrapper{
    position: relative;
    margin-left: 30px;
    width: 30px;
    height: 40px;
    z-index: 1000;
  }

  #menu-wrapper span, #menu-wrapper span::before, #menu-wrapper span::after{
    position: absolute;
    height: 3px;
    width: 27px;
    border-radius: 3px;
    background: #efa73d;
    display: block;
    content: '';
    cursor: pointer;
  }

  #menu-wrapper span::before{
    bottom: -10px;
  }

  #menu-wrapper span::after{
    bottom: -20px;
  }

  #mobile-navigation{
    width: 80vw;
    height: 140px;
    display: block;
    z-index: 999;
    border-radius: 15px;
    position: fixed;
    top: 60px;
    left: 30px;
    transition: all 1s ease;
  }

  #mobile-navigation::before{
    content: '';
    position: absolute;
    top: -60px;
    left: -30px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  #mobile-navigation.hidden{
    width: 0;
    height: 0;
    display: none;
  }

  #mobile-navigation > div{
    width: 80vw;
    height: 140px;
    border-radius: 15px;
    background: #23211d;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  #mobile-navigation a{
    display: block;
    width: 85%;
    height: 100%;
    font-size: 18px;
    line-height: 45px;
    margin-left: 1.2em;
    color: #eee;
  }

  #mobile-navigation li{
    position: relative;
  }

  #mobile-navigation .mob-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #eee;
  }

  .service-header{
    display: flex;
  }

  #top-logo {
    margin-left: 0px;
  }

  .top-nav{
    display: none;
  }

	/* main circle section */
	#left-circle {
		top: 25%;
	}

	#right-circle {
		top: 25%;
	}

	.circle-title > .push-content {
	    top: 100%;
	    transform: translate(0, 50%);
	}

	.push-content::before{
		content: '';
		position: absolute;
		top: -130%;
		left: 30px;
		height: 150%;
		width: 1px;
		background: #fff;
		opacity: 0;
	}

	#left-circle.active:hover .down-arrow {
	    height: 100px;
	}

	#right-circle.active:hover .down-arrow {
	    height: 100px;
	}

	#left-circle.active .circle-title h1 {
	    font-size: 16px;
	}

	#right-circle.active .circle-title h1 {
	    font-size: 16px;
	}

	#left-circle.active:hover .circle-title h1 {
	    font-size: 16px;
	    color: #fff;
	}

	#left-circle.active .push-content::before{
		opacity: 1;
	}

	#right-circle.active:hover .circle-title h1 {
	    font-size: 16px;
	    color: #fff;
	}

	#right-circle.active .push-content::before{
		opacity: 1;
	}

	/* service detail section */
	.content-wrapper{
		display: block;
		position: relative;
	}

	.text-wrapper {
	    width: calc(90vw - 40px);
	    height: 45vh;
	    border: hidden;
	}

	.content-text{
		width: 90%;
	}

	.img-wrapper{
		height: 100vh;
		margin-top: 0;
	}

	.content-title{
		top: 20vh;
	}

	.img-wrapper > img {
	    filter: blur(5px);
	}

	/* front section */
	#front {
	    padding-bottom: 10vh;
	}

	#front-content{
		position: absolute;
		width: 100vw;
		height: 50vh;
		top: 45%;
		left: 0;
	}

	#front-content > .text-wrapper{
	    top: 0;
	    left: 5vw;
	    background: #bbb;
	}

	#front-img{
		width: 100vw;
		position: absolute;
		top: 0;
		left: 0;
	}

	/* end section */
	#end-content{
		position: absolute;
		width: 100vw;
		height: 50vh;
		top: 45%;
		left: 0;
	}

	#end-content > .text-wrapper{
	    top: 0;
	    left: 5vw;
	    background: #bbb;
	}

	#end-img{
		width: 100vw;
		position: absolute;
		top: 0;
		left: 0;
	}

	
}


/* animation section */
@keyframes circle-scale{
	0% {
        opacity:0;
        transform: scale(1);
        z-index: -1;
    }
    50%{
		opacity: 1;
		transform: scale(10);
    	z-index: 100;
    }
    100% {
        opacity:0;
        transform: scale(1);
        z-index: -1;
    }
}

@keyframes section-hidden{
	0% {
        opacity:0;
    }
    30%{
		opacity: 1;
    }
    100% {
        opacity:0;
    }
}
