body {
  padding: 0;
  margin: 0;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #eee;
  overflow-x: hidden;
  font-family: 'Roboto Mono', monospace;
}

body::-webkit-scrollbar {
  display: none;
}

/* common style */
.page {
  width: 100%;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* loading page */
#loading-page{
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: -100;
  transition: all 1.5s ease-in;
}

#loading-page.active {
  opacity: 1;
  z-index: 999;
}

#loading-page > div{
  width: 80%;
  height: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#loading-title{
  font-size: 50px;
  font-family: 'Noto Sans JP', sans-serif;
  animation-name: loading-fade;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 1;
  transition: all 0.5s ease;
}


#loading-bar{
  margin: 30vh auto 0 auto;
  width: 250px;
  height: 4px;
  border-radius: 2px;
  background-color: #999;
  position: relative;
  transition: all .5s ease;
}

#loading-bar::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 0;
  background: -moz-linear-gradient(bottom, #555bb4 0%, #77b9fd 100%);
  background: -webkit-linear-gradient(bottom, #555bb4 0%, #77b9fd 100%);
  background: linear-gradient(to top, #555bb4 0%, #77b9fd 100%);
  animation-name: loading-bar;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transition: all .5s ease;
}

#loading-bar.end::before{
  width: 250px;
}

/* header */
header {
  padding: 30px 0;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.top-nav {
  font-size: 16px;
  display: block;
  float: right;
  position: relative;
  top: 0;
  right: 40px;
}

.site-header .top-nav li {
  display: inline-block;
  margin-left: 30px;
}

.top-nav li:hover {
  border-bottom: 2px solid #cecac5;
}

.site-header .top-nav li a {
  color: #efa73d;
}

.site-header .top-nav a:hover {
  color: #ecbe79;
}

/* main panel */
.main-panel {
  width: 100%;
  height: 100%;
}

/* top page title */
#top-title {
  position: absolute;
  left: 10%;
  font-size: 42px;
  bottom: 10px;
  color: #eeeeee;
  z-index: 11;
}

#title-type .Typewriter__cursor{
  color: #eee;
  opacity: 0;
}

#title-type .Typewriter__cursor.active{
  color: #efa73d;
  opacity: 1;
}


/* top */
#top {
  opacity: 1;
  height: 150vh;
}

#top::before {
  content: "";
  width: 100%;
  height: 150vh;
  position: absolute;
  background: #eee;
  opacity: 0;
  transition: all 0.25s ease-out;
}

#top::after {
  content: "";
  width: 100%;
  height: 150vh;
  position: absolute;
  background: #33312d;
  opacity: 1;
  z-index: 10;
  transition: all 0.25s ease-out;
}

#top.active::before {
  opacity: 1;
  z-index: 99;
}

#top.active::after {
  opacity: 0;
}

.top-base {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #33312d;
}

/* vidoe */
.video-wrapper {
  top: 70px;
  left: 30px;
  right: 30px;
  height: 85vh;
  overflow: hidden;
  position: absolute;
  overflow: hidden;
  opacity: 1;
  transition: all 1s ease;
}

.video-wrapper img {
  width: 100%;
  height: auto;
}

.video-wrapper.hidden {
  opacity: 0;
}

/* about */
#about {
  background: #eee;
  height: 100vh;
  padding-top: 10vh;
  opacity: 1;
  z-index: 10;
  transition: opacity 0.2s ease-out;
}

#about::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;
  opacity: 1;
  z-index: 10;
  transition: opacity 0.2s ease;
}

#about.hidden {
  opacity: 0;
}

#about.hidden::after {
  opacity: 0;
}

.content-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

#about-position {
  position: absolute;
  top: 15%;
  left: 10%;
  display: flex;
  color: #33312d;
  opacity: 0;
  transition: all 1s ease;
}

#about-position.active {
  opacity: 1;
}

#about-title {
  width: 30%;
  margin-right: 20px;
  margin-left: 5%;
}

#about-title > h1 {
  font-size: 40px;
}

#about-content {
  width: 30%;
  margin-left: 15%;
}

/* service */
#service {
  position: relative;
  height: 80vh;
}

#service .service-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(./img/index_service_bg.JPG);
  background-size: cover;
  background-position: center;
  z-index: -999;
  opacity: 0;
  transition: all 0.25s ease-out;
}

#service .service-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  opacity: 1;
  transition: all 0.4s ease-out;
}

#service.active .service-background::after {
  opacity: 0.2;
}

#service.active .service-background {
  z-index: -10;
  opacity: 1;
}


.content-wrapper #service-position {
  position: absolute;
  top: 0;
  left: 10%;
  color: #fff;
}

#service-position .link-info {
  margin-top: 30px;
}

.link-info > a {
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.link-info > a > span {
  margin-left: 10px;
}

.link-info .link-arrow {
  color: #efa73d;
  margin-left: 10px;
}

#service-headline {
  width: 60%;
}

#service-headline > h1 {
  font-size: 36px;
}

/* works */
#works {
  position: relative;
  height: 80vh;
}

#works::before{
  content: '';
  width: 100%;
  height: 80vh;
  position: absolute;
  background: #eee;
  opacity: 0;
  transition: all .25s ease-out .25s;
}

#works.hidden::before{
  opacity: 1;
  z-index: 100;
}

#works .works-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(./img/index_works_bg.JPG);
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: all .25s ease-out;
}

#works .works-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 16, 51, 0.274);
}

#works.active .works-background {
  opacity: 1;
}

.content-wrapper #works-position {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #fff;
}

#works-position .link-info {
  margin-top: 30px;
}

#works-headline {
  width: 60%;
}

#works-headline > h1 {
  font-size: 36px;
}

/* blog */
#blog {
  background: transparent;
  margin-bottom: 20vh;
}

#blog .blog-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: -1;
  transition: all 1s ease;
}

#blog.active .blog-wrapper {
  opacity: 1;
  z-index: 10;
}

#blog .blog-wrapper .blog-content {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: all 1s ease;
}

#blog .blog-wrapper .bc1 {
  transform: translate(-50%, 0);
}

#blog .blog-wrapper .bc2 {
  transform: translate(0, 50%);
}

#blog .blog-wrapper .bc3 {
  transform: translate(50%, 0);
}

#blog.active .blog-wrapper .blog-content {
  transform: translate(0, 0);
}

#blog .blog-content .blog-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transform: scale(0.8);
  transition: all 0.5s ease;
}

#blog .blog-content .blog-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255);
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.5s ease;
}

#blog .blog-content:hover .blog-background {
  transform: scale(1);
  border-radius: 0;
}

#blog .blog-content:hover .blog-background::after {
  background: rgba(25, 25, 25);
  opacity: 0.5;
  border-radius: 0;
}

#blog .blog-wrapper #content1 {
  background-image: url(./img/index_blog_bg1.JPG);
}

#blog .blog-wrapper #content2 {
  background-image: url(./img/index_blog_bg2.JPG);
}

#blog .blog-wrapper #content3 {
  background-image: url(./img/index_blog_bg3.JPG);
}

#blog .blog-content .blog-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #33312d;
  transition: all 0.5s ease;
}

#blog .blog-content:hover .blog-text {
  color: #eee;
}

#blog .blog-content .blog-text > div {
  width: 70%;
  height: 50vh;
  margin: 30vh 15% 20vh 15%;
}

#blog .blog-content .blog-text h1 {
  font-size: 24px;
}

#blog .blog-content .blog-text p {
  margin: 1em 0;
  font-size: 16px;
}

#blog .blog-content .blog-text > div > a {
  font-size: 18px;
  margin-top: 2em;
  color: inherit;
}

#blog .blog-content .blog-text a .blog-icon {
  margin-left: 8px;
}

/* contact */
#contact {
  background: gray;
  position: relative;
  z-index: 100;
}

#contact #form-wrapper {
  width: 70%;
  height: 70vh;
  background: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contact #form-wrapper #form-inside {
  width: 60%;
  height: 60vh;
  margin: 5vh auto;
}

#contact #form-wrapper #form-inside .input-record {
  display: block;
  height: 10%;
  margin-bottom: 5vh;
  position: relative;
}

#contact #form-wrapper #form-inside .button-record {
  display: block;
  height: 10%;
  margin-bottom: 5vh;
  position: relative;
}

#contact #form-wrapper #form-inside input[type="text"] {
  width: 100%;
  height: 50%;
  font-size: 16px;
  background-color: transparent;
  border: 2px rgba(119, 119, 119, 1);
  border-style: none none solid none;
  position: absolute;
  bottom: 0;
  left: 0;
  outline: none;
}

#contact #form-wrapper #form-inside .input-record::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #777;
  transform: translate(0px, 0px);
  opacity: 0.3;
}

#contact #form-wrapper #form-inside span {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #aaa;
  opacity: 1;
}

#contact #form-wrapper #form-inside #button-wrapper {
  display: block;
  position: absolute;
  margin-top: 10px;
  top: 0;
  left: 0;
  opacity: 1;
  width: 70px;
  height: 40px;
  border-bottom: solid 4px #777;
  border-left: solid 4px #777;
  cursor: pointer;
}

#contact #form-wrapper #form-inside .button-icon {
  position: absolute;
  top: 0;
  left: 10px;
  height: 100%;
  transform: translate(0, 0);
  transition: all 0.3s ease;
  color: #ffc107;
}

#contact #form-wrapper #form-inside input[type="submit"] {
  width: 70px;
  height: 40px;
  padding-left: 15px;
  border: none;
  font-size: 20px;
  color: #777;
  position: absolute;
  top: 0;
  left: 0px;
  background: transparent;
  transform: translate(0, 0);
  transition: all 0.3s ease;
}

/* CSSアニメーション */
#contact
  #form-wrapper
  #form-inside
  .input-record:focus-within
  input[type="text"] {
  animation-name: flash;
  animation-timing-function: linear;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

#contact #form-wrapper #form-inside .input-record:focus-within::after {
  animation-name: fadeIn;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#contact #form-wrapper #form-inside #button-wrapper:hover .button-icon {
  transform: translate(5px, 0);
}

#contact #form-wrapper #form-inside #button-wrapper:hover input[type="submit"] {
  transform: translate(5px, 0);
}

@keyframes loading-fade{
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }

}

@keyframes loading-bar{
  0% {
    width: 0px;
  }
  50% {
    width: 150px;
  }
  100% {
    width: 200px;
  }
}

@keyframes flash {
  0% {
  }
  25% {
    border: 2px rgba(119, 119, 119, 0.7);
  }
  50% {
    border: 0px rgba(119, 119, 119, 0.2);
  }
  75% {
    border: 2px rgba(119, 119, 119, 0.7);
  }
  100% {
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
    width: 104%;
    transform: translate(-2%, 8px);
  }
  100% {
    transform: translate(-6%, 15px);
    width: 112%;
    opacity: 0;
  }
}
