body {
  margin: 0;
  padding: 0;
  background: #23211d;
  color: #eee;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

a {
  text-decoration: none;
}

li{
  list-style: none;
}

section {
  width: 100%;
}

/* navigation header */
header {
  padding: 30px 0;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
}

.mobile-menu{
  display: none;
}

.top-nav {
  font-size: 16px;
  display: block;
  float: right;
  position: relative;
  top: 0;
  right: 40px;
}

.works-header .top-nav li {
  display: inline-block;
  margin-left: 30px;
}

.top-nav li:hover {
  border-bottom: 2px solid #cecac5;
}

.works-header .top-nav li a {
  color: #efa73d;
}

.works-header .top-nav a:hover {
  color: #ecbe79;
}

#top-logo{
  margin-left: 15px;
}

#top-logo img{
  height: 40px;
  transform: translateY(-9px);
}


/* top page title */
#title-wrapper{
  width: 100%;
  height: 100vh;
}

#page-title {
  width: 100%;
  height: 100px;
  padding-top: 40vh;
  padding-bottom: 20vh;
}

#page-title h1 {
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 10px;
  font-weight: lighter;
}

#page-title p {
  font-size: 14px;
  text-align: center;
  letter-spacing: 8px;
  color: #999;
}

#title-bar{
  width: 100%;
  height: 10vh;
  position: relative;
  padding: 5vh 0;
}

#title-bar > span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(10%, -50%);
}

#title-bar > div{
  width: 2px;
  height: 80%;
  background: #efa73d;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation-name: flash;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

#title-bar > div::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-1px);
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-left: 10px solid #efa73d;
  animation-name: flash;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

/* top page section */
#circle-section{
  width: 100%;
  height: 100vh;
  position: relative;
  background: transparent;
  z-index: 0;
}

#circle-section.set{
  position: fixed;
  top: 0;
  left: 0;
}

.circle{
  position: absolute;
  width: 55vh;
  height: 55vh;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #777;
  transition: all .5s ease;
}

.work-title{
  line-height: 30vh;
  text-align: center;
  vertical-align: middle;
  color: #333;
  opacity: 0;
  font-size: 36px;
  transition: all 0.5s ease;
}

.circle.active{
  width: 85vw;
  height: 90vh;
  border-radius: 0;
  border: 0;
  background-size: cover;
  background-position: center;
  z-index: 10;
}

.circle.active .work-title{
  opacity: 1;
}

#circle1{
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#circle1.active{
  transform: translate(-50%, -30%);
  background-image: url(../css/img/works_top_bg1.JPG);
}

#circle2{
  top: 67%;
  left: 37%;
  transform: translate(-50%, -50%);
}

#circle2.active{
  transform: translate(-35%, -69%);
  background-image: url(../css/img/works_top_bg2.JPG);
}

#circle3{
  top: 67%;
  left: 62%;
  transform: translate(-50%, -50%);
}

#circle3.active{
  transform: translate(-64%, -69%);
  background-image: url(../css/img/works_top_bg3.JPG);
}

#top-slider {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20vh;
  position: relative;
}

.panel-content{
  width: 100%;
  height: 100vh;
}

#panel-wrapper3{
/*  padding-bottom: 20vh;*/
}

.panel {
  background: transparent;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0;
  filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  transition: all 1s ease;
}

.panel.active{
  opacity: 1;
}

#panel1 {
  background-image: url(../css/img/works_top_bg1.JPG);
}

#panel2 {
  background-image: url(../css/img/works_top_bg2.JPG);
}

#panel3 {
  background-image: url(../css/img/works_top_bg3.JPG);
}


/* all works section */
#all-works {
  width: 100%;
  min-height: 100vh;
  background-color: #23211d;
  z-index: 999;
}

#works-title {
  width: 100%;
  height: 10vh;
  padding: 10vh 0;
  text-align: center;
}

#works-title > h1 {
  font-size: 36px;
  text-align: center;
  letter-spacing: 10px;
  font-weight: lighter;
}

#table-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.works-content {
  width: 300px;
  height: 300px;
  padding: 0 3% 1%;
}

.works {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  background-color: #f00;
}

/* responsive section */

/* tablet version */
@media screen and (max-width: 959px){

  .circle {
    width: 50vw;
    height: 50vw;
  }

  #circle1{
    transform: translate(-50%, -25%);
  }

  /*work section*/
  .works-content {
    width: 200px;
    height: 200px;
  }

}

/* smart phone version */
@media screen and (max-width: 560px){
  /* header section */
  .mobile-menu{
    display: block;
    width: calc(100vw - 80px);
  }

  #menu-wrapper{
    position: relative;
    margin-left: 30px;
    width: 30px;
    height: 40px;
    z-index: 1000;
  }

  #menu-wrapper span, #menu-wrapper span::before, #menu-wrapper span::after{
    position: absolute;
    height: 3px;
    width: 27px;
    border-radius: 3px;
    background: #efa73d;
    display: block;
    content: '';
    cursor: pointer;
  }

  #menu-wrapper span::before{
    bottom: -10px;
  }

  #menu-wrapper span::after{
    bottom: -20px;
  }

  #mobile-navigation{
    width: 80vw;
    height: 140px;
    display: block;
    z-index: 999;
    border-radius: 15px;
    position: fixed;
    top: 60px;
    left: 30px;
    transition: all 1s ease;
  }

  #mobile-navigation::before{
    content: '';
    position: absolute;
    top: -60px;
    left: -30px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  #mobile-navigation.hidden{
    width: 0;
    height: 0;
    display: none;
  }

  #mobile-navigation > div{
    width: 80vw;
    height: 140px;
    border-radius: 15px;
    background: #13110d;;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  #mobile-navigation a{
    display: block;
    width: 85%;
    height: 100%;
    font-size: 18px;
    line-height: 45px;
    margin-left: 1.2em;
    color: #eee;
  }

  #mobile-navigation li{
    position: relative;
  }

  #mobile-navigation .mob-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #eee;
  }

  .works-header{
    display: flex;
  }

  #top-logo {
    margin-left: 0px;
  }

  .top-nav{
    display: none;
  }

  /* circle section */
  #circle1{
    transform: translate(-50%, 25%);
  }

}


/* animation section */
@keyframes flash{
  0%{
    opacity: 0.3;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.3;
  }
}
