<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>PL app</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400&display=swap&subset=japanese" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="account">
		<section class="side_menu">
			<ul>
				<li><a @click="activePage = 1" href="#1">家計簿情報登録・削除・編集</a></li>
				<li><a @click="activePage = 2" href="#2">仕訳帳表示（家計簿情報一覧）</a></li>
				<li><a @click="activePage = 3" href="#3">合計残高試算表表示</a></li>
				<li><a @click="activePage = 4" href="#4">貸借対照表／損益計算書表示</a></li>
			</ul>
		</section>
		<section v-show="activePage === 1" class="info_register page">
			<div class="register_title">
				<div @click="registerTab = 1" class="input_tab">
					<span>Input</span>
				</div>
				<div @click="registerTab = 2" class="output_tab">
					<span>Output</span>
				</div>
			</div>
			<div v-show="registerTab === 1" class="inputRegister">
				<form method="POST" action="php/pdo_insert.php">
					<div>
						<p>日付</p>
						<input type="date" name="input_date" v-model="defaultDate">
					</div>
					<div>
						<p>用途</p>
						<select name="use_code">
							<option v-for="useInput in useInputList" v-bind:value="useInput.use_code">{{ useInput.use_name }}</option>
						</select>
					</div>
					<div>
						<p>勘定科目</p>
						<select name="account_code">
							<option v-for="accountInput in accountInputList" v-bind:value="accountInput.account_code">{{ accountInput.account_name }}</option>
						</select>
					</div>
					<div>
						<p>金額</p>
						<input type="number" name="amount">
					</div>
					<div>
						<input type="submit" name="registButton" value="登録">
						<input type="hidden" name="tbl_name" value="TBL_INPUT">
					</div>
				</form>
			</div>
			<div v-show="registerTab === 2" class="outputRegister">
				<form method="POST" action="php/pdo_insert.php">
					<div>
						<p>日付</p>
						<input type="date" name="output_date" v-model="defaultDate">
					</div>
					<div>
						<p>用途</p>
						<select name="use_code">
							<option v-for="useOutput in useOutputList" v-bind:value="useOutput.use_code">{{ useOutput.use_name }}</option>
						</select>
					</div>
					<div>
						<p>勘定科目</p>
						<select name="account_code">
							<option v-for="accountOutput in accountOutputList" v-bind:value="accountOutput.account_code">{{ accountOutput.account_name }}</option>
						</select>
					</div>
					<div>
						<p>金額</p>
						<input type="number" name="amount">
					</div>
					<div>
						<input type="submit" name="registButton" value="登録">
						<input type="hidden" name="tbl_name" value="TBL_OUTPUT">
					</div>
				</form>
			</div>
			<div class="infoTable">
				<table width="100%" border="1">
					<tr>
						<th>日付</th>
						<th>用途</th>
						<th>勘定科目</th>
						<th>金額</th>
					</tr>
					<tr v-show="registerTab === 1" v-for="input in inputList">
						<td>{{ input.input_date }}</td>
						<td>{{ input.use_name }}</td>
						<td>{{ input.account_name }}</td>
						<td>{{ input.amount }}</td>
					</tr>
					<tr v-show="registerTab === 2" v-for="output in outputList">
						<td>{{ output.output_date }}</td>
						<td>{{ output.use_name }}</td>
						<td>{{ output.account_name }}</td>
						<td>{{ output.amount }}</td>
					</tr>
				</table>
			</div>
		</section>
		<section v-show="activePage === 2" class="journal page">
			<h1>仕訳帳表示（家計簿情報一覧）</h1>
			<div class="journalInput">
				<form v-on:submit.prevent="onClick" method="GET">
					<div>
						<span>期間：</span>
						<div class="journalDate">
							<input type="date" name="startDate" v-model="startDate">
							<span> ~ </span>
							<input type="date" name="endDate" v-model="endDate">
						</div>
					</div>
					<div>
						<span>用途：</span>
						<select class="journalUse" name="use_code"　v-model="use_code">
							<option v-for="useInput in useInputList" v-bind:value="useInput.use_code">{{ useInput.use_name }}</option>
							<option v-for="useOutput in useOutputList" v-bind:value="useOutput.use_code">{{ useOutput.use_name }}</option>
						</select>
					</div>
					<div>
						<span>勘定科目：</span>
						<select class="journalAccount" name="account_code" v-model="account_code">
							<option v-for="accountInput in accountInputList" v-bind:value="accountInput.account_code">{{ accountInput.account_name }}</option>
							<option v-for="accountOutput in accountOutputList" v-bind:value="accountOutput.account_code">{{ accountOutput.account_name }}</option>
						</select>
					</div>
					<div>
						<input type="submit" name="displayButton" value="表示">
					</div>
				</form>
			</div>
			<div class="journalTable">
				<table width="100%" border="1">
					<tr>
						<th>日付</th>
						<th>用途</th>
						<th>勘定科目</th>
						<th>金額</th>
					</tr>
					<tr v-for="journal in journalList">
						<td>{{ journal.date }}</td>
						<td>{{ journal.use_name }}</td>
						<td>{{ journal.account_name }}</td>
						<td>{{ journal.amount }}</td>
					</tr>
				</table>
			</div>
		</section>
		<section v-show="activePage === 3" class="balance page">
			<h1>合計残高試算表表示</h1>
			<div class="balance_title">
				<div @click="balanceTab = 1" class="input_tab">
					<span>Budget</span>
				</div>
				<div @click="balanceTab = 2" class="output_tab">
					<span>Balance</span>
				</div>
			</div>
			<div v-show="balanceTab === 1" class="inputBudget">
				<form method="POST" action="php/pdo_insert.php">
					<div>
						<div>
							<p>年月</p>
							<input type="month" name="budget_date" v-model="defaultMonth">
						</div>
						<div>
							<p>用途</p>
							<select name="use_code">
								<option v-for="useInput in useInputList" v-bind:value="useInput.use_code">{{ useInput.use_name }}</option>
								<option v-for="useOutput in useOutputList" v-bind:value="useOutput.use_code">{{ useOutput.use_name }}</option>
							</select>
						</div>
						<div>
							<p>勘定科目</p>
							<select name="account_code">
								<option v-for="accountInput in accountInputList" v-bind:value="accountInput.account_code">{{ accountInput.account_name }}</option>
								<option v-for="accountOutput in accountOutputList" v-bind:value="accountOutput.account_code">{{ accountOutput.account_name }}</option>
							</select>
						</div>
						<div>
							<p>金額</p>
							<input type="number" name="amount">
						</div>
					</div>
					<div>
						<input type="submit" name="registButton" value="登録">
						<input type="hidden" name="tbl_name" value="TBL_BUDGET">
					</div>
				</form>
				<div class="budgetTable">
					<table width="90%" border="1">
						<tr>
							<th>用途</th>
							<th>勘定科目</th>
							<th>金額</th>
						</tr>
						<tr v-for="budget in budgetList">
							<td>{{ budget.use_name }}</td>
							<td>{{ budget.account_name }}</td>
							<td>{{ budget.amount }}</td>
						</tr>
					</table>
				</div>
			</div>
			<div v-show="balanceTab === 2" class="outputBalance">
				<form v-on:change.prevent="onClick" method="GET">
					<p>出力年月</p>
					<input type="month" name="balanceDate" v-model="defaultMonth">
				</form>
				<div class="balanceTable">
					<table width="100%" border="1">
						<tr>
							<th>借方残高</th>
							<th>借方合計</th>
							<th>勘定科目</th>
							<th>貸方合計</th>
							<th>貸方残高</th>
						</tr>
						<tr v-for="balance in balanceList">
							<td>{{ balance.inputBalance }}</td>
							<td>{{ balance.inputAmount }}</td>
							<td>{{ balance.accountName }}</td>
							<td>{{ balance.outputAmount }}</td>
							<td>{{ balance.outputBalance }}</td>
						</tr>
					</table>
				</div>
			</div>
		</section>
		<section v-show="activePage === 4" class="bs page">
			<h1>貸借対照表／損益計算書表示</h1>
			<div class="bs_title">
				<div @click="bsTab = 1" class="input_tab">
					<span>BS</span>
				</div>
				<div @click="bsTab = 2" class="output_tab">
					<span>PL</span>
				</div>
			</div>
			<div v-show="bsTab === 1" class="bsDetail">
				<form v-on:change.prevent="onClick" method="GET">
					<p>出力年月</p>
					<input type="month" name="bsMonth" v-model="defaultMonth">
				</form>
				<div class="bsTable">
					<div class="asset">
						<p class="bsDetail_title ">資産の部</p>
						<div v-for="(bsInput, inputTitle) in bsInputList" class="account_category">
							<p class="category_title">【{{ inputTitle }}】</p>
							<div v-for="bsInputRecord in bsInput" class="account_record">
								<span>{{ bsInputRecord.account_name }}</span>
								<span>{{ bsInputRecord.input_amount }}</span>
							</div>
						</div>
					</div>
					<div class="debtwrapper">
						<div class="debt">
							<p class="bsDetail_title">負債の部</p>
							<div v-for="(bsOutput, outputTitle) in bsOutputList" class="account_category">
								<p class="category_title">【{{ outputTitle }}】</p>
								<div v-for="bsOutputRecord in bsOutput" class="account_record">
									<span>{{ bsOutputRecord.account_name }}</span>
									<span>{{ bsOutputRecord.output_amount }}</span>
								</div>
							</div>
							<div class="nDebt_total">
								<span>負債合計</span>
								<span v-if="bsTotalList[1]">{{ bsTotalList[1]['amount'] }}</span>
							</div>
						</div>
						<div class="nAsset">
							<p class="bsDetail_title">純資産の部</p>
							<div v-for="(bsAsset, assetTitle) in bsAssetList" class="account_category">
								<p class="category_title">【{{ assetTitle }}】</p>
								<div v-for="bsAssetRecord in bsAsset" class="account_record">
									<span>{{ bsAssetRecord.account_name }}</span>
									<span>{{ bsAssetRecord.output_amount }}</span>
								</div>
							</div>
						</div>
						<div class="nAsset_total">
							<span>純資産合計</span>
							<span v-if="bsTotalList[2]">{{ bsTotalList[2]['amount'] }}</span>
						</div>
					</div>
				</div>
				<div class="bsDetail_total">
					<div class="asset_total">
						<span>資産合計</span>
						<span v-if="bsTotalList[0]">{{ bsTotalList[0]['amount'] }}</span>
					</div>
					<div class="debt_total">
						<span>負債・純資産合計</span>
						<span v-if="bsTotalList[3]">{{ bsTotalList[3]['amount'] }}</span>
					</div>
				</div>
			</div>
			<div v-show="bsTab === 2" class="plDetail">
				<form v-on:change.prevent="onClick" method="GET">
					<p>出力年月</p>
					<input type="month" name="plMonth" v-model="defaultMonth">
				</form>
				<div class="plTable">
					<table width="100%">
						<tr border="1">
							<th border="1">科目</th>
							<th border="1">金額</th>
						</tr>
						<tr v-for="plInput in plInputList">
							<td class="plsubject">{{ plInput.use_name }}</td>
							<td class="plamount">{{ plInput.input_amount }}</td>
						</tr>
						<tr v-for="plOutput in plOutputList">
							<td class="plsubject">{{ plOutput.use_name }}</td>
							<td class="plamount">{{ plOutput.output_amount }}</td>
						</tr>
					</table>
				</div>
			</div>
		</section>
	</div>

	<!--　Vue.js 導入部 -->
	<script src="https://unpkg.com/es6-promise"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/http-vue-loader"></script>
	<script type="text/javascript" src="js/main.js"></script>

</body>
</html>