*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Sawarabi Gothic', sans-serif;
}

/*サイトタイトル*/
.title{
	width: 100vw;
	height: 7vh;
	background-color: #707B80;
	z-index: 500;
	position: fixed;
}

.title > span{
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.title > span > a{
	color: #dcdade;
	padding: 5px;
	text-decoration: none;
	transition: 0.1s all ease-in 0s;
}

.title > span > #logo{
	font-size: 20px;
}

.title > span > a:hover{
	color: #ffffff;
}

/*ヘッダーメニュー*/
.menu_icon{
  display: none;
}

nav{
	width: 100vw;
	height: 6vh;
	background-color: #f1f1f2;
	opacity: 0.9;
	z-index: 500;
	position: fixed;
	top: 7vh;
}

.header_list{
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center
}

nav > .header_list > li{
	list-style: none;
	position: relative;	
}

nav > .header_list > li > a{
	text-decoration: none;
	color: #000000;
	padding: 5px;
}

nav > .header_list > li > a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

nav > .header_list > li > a:hover {
	color: rgba(150, 150, 150, 0.7);
}

nav > .header_list > li > a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

/*背景設定*/
.content_image{
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  position: fixed;
  background-position: center;
  background-size: cover;
  transition: all 1s ease 0s;
}

.content_image::before{
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 255, 255, 0.3);
}

.show .content_image {
    opacity: 1;
    z-index: -100;
}

#image1{
	background-image: url("IMG/osaka2.jpg");
}

#image2{
	background-image: url("IMG/about.jpg");
}

#image3{
	background-image: url("IMG/plan.jpg");
}

#image4{
	background-image: url("IMG/osaka1.jpg");
}

#image5{
  background-image: url("IMG/contact.jpg");
}

.contents{
  width: 100vw;
  height: 100vh;
}

section{
  position: relative;
}

/*中身共通*/
.text-box{
  padding: 50px 25px 10px 25px;
  width: 60vw;
  height: 50vh;
  opacity: 0;
  background-color: rgba(74,113,128,0.8);
  color: #E0F7FF;
  transition: all ease 1s 0s;
  transform: translateY(20px);
}

.show .text-box{
  opacity: 1;
  transform: translateY(0px);
}

.text-box h1{
  margin: 0 0 10px;
  font-size: 30px;
  width: 100%;
}

.text-box h2{
  width: 100%;
}

.text-box > p{
  width: 100%;
  margin-top: 25px;
  word-wrap: break-word;
}



/*トップ*/
#top .top_content{
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 0;
}



/*バッカンについて*/
#about .about_content{
  z-index: 2;
  position: absolute;
  top: 30%;
  right: 0;
}



/*プラン*/
#plan .plan_content{
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 0;
}

#plan .text-box{
  padding: 0;
  width: 100vw;
  height: 60vh;
}

#plan .text-box h1{
  padding: 50px 25px 10px 25px;
  width: 50%;
}

#plan .text-box > div{
  width: 100vw;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#plan .text-box > .wrapper_plan > div{
  width: 30%;
  height: 100%;
  background-color: #fff;
}

#plan .text-box > .wrapper_plan > div > p{
  padding: 10px 2px;
  word-wrap: break-word;
  color: #555;
}

#plan .text-box > .wrapper_plan .text_plan{
  text-align: center;
}


/*会社概要*/
#company .company_content{
  z-index: 2;
  position: absolute;
  top: 30%;
  right: 0;
}

#company .text-box .company_index{
  width: 30%;
}

#company .text-box > table{
  margin: 0 auto;
  width: 80%;
  table-layout:fixed
}

#company .text-box tr th{
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
  padding: 10px;
}



/*問い合わせ*/
#contact{
  height: 100vh;
}

#contact .contact_content{
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 0;
}


#contact .text-box{
  padding: 50px 25px 50px 25px;
}

#contact .text-box > iframe{
  height: 60%;
  width: 90%;
  margin: 0 auto;
}

#contact .text-box > div{
  padding: 20px 0;
  width: 40%;
  margin: 0 auto;
  height: 20px;
  display: flex;
  align-items: center;
}

#contact .text-box .contact_index{
  width: 20%;
}


/*****************レスポンシブ対応*****************/
@media screen and (max-width:480px){

.menu_icon{
  display: block;
  z-index: 9999;
  position: fixed;
  top: 8vh;
  left: 50%;
  transform: rotateZ(0deg) translateX(-50%);
  transition: top ease 1s 0.05s;
}

.menu_icon > img{
  width: 50px;
  height: auto;
}

nav{
  height: 0;
  transition: all ease 1s 0s;
}

.header_list{
  display: none;
  opacity: 0;
  transition: all ease 1s 1s;
}

.open{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.open .header_list{
  width: 100%;
  height: 50%;
  opacity: 1;
  display: block;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 9vh;
}


/*共通*/

.text-box{
  width: 80vw;
}

/*プラン*/
#plan{
  height: auto;
  min-height: 130vh;
}

#plan .text-box{
  height: 90vh;
}

#plan .text-box h1{
  padding: 2vh 25px 1vh 25px;
  margin: 0 0 1vh; 
}

#plan .text-box > .wrapper_plan > div > p{
  padding: 0.3vh 2px;
}

#plan .text-box > div{
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
}

#plan .text-box > .wrapper_plan > div{
  width: 80%;
  height: 24vh;
  margin-top: 2vh;
}

/*会社情報*/
#company h1{
  margin: 0 0 1vh;
}

#company .text-box > table{
  width: 100%;
}

#company .text-box tr th{
  padding: 1vh 0;
}

#company > .company_content > .text-box{
  height: 60vh;
  padding: 3vh 25px 10vh 25px;
}

#contact .text-box > div{
  width: 80%;
}

#contact .text-box > div{
  padding: 2vh 0;
}

}