*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Sawarabi Gothic', sans-serif;
}

/*サイトタイトル*/
.title{
	width: 100vw;
	height: 7vh;
	background-color: #222222;
	z-index: 500;
	position: fixed;
}

.title > span{
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.title > span > a{
	color: #cccccc;
	padding: 5px;
	text-decoration: none;
	transition: 0.1s all ease-in 0s;
}

.title > span > #logo{
	font-size: 17px;
}

.title > span > a:hover{
	color: #ffffff;
}

/*ヘッダーメニュー*/
.header_menu{
	width: 100vw;
	height: 6vh;
	background-color: #ffffff;
	opacity: 0.9;
	z-index: 500;
	position: fixed;
	top: 7vh;
}

.header_list{
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center
}

.header_menu > .header_list > li{
	list-style: none;
	position: relative;	
}

.header_menu > .header_list > li > a{
	text-decoration: none;
	color: #000000;
	padding: 5px;
}

.header_menu > .header_list > li > a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.header_menu > .header_list > li > a:hover {
	color: rgba(150, 150, 150, 0.7);
}

.header_menu > .header_list > li > a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

/*背景設定*/
.content_image{
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    position: fixed;
    background-position: center center;
    opacity: 0;
    background-size: cover;
    transition: all 1s ease 0s;
}

.show .content_image {
    opacity: 1;
    z-index: -100;
}

#image1{
	background-image: url("IMG/40.jpg");
}

#image2{
	background-image: url("IMG/img-20@2x.jpg");
}

#image3{
	background-image: url("IMG/30.jpg");
}

#image4{
	background-image: url("IMG/46.jpg");
}


/*会社概要*/
#about .about_content{
    padding: 30vh 0 40vh;
    position: relative;
    z-index: 2;
}

/*サービス*/
#service .service_content{
    padding: 30vh 0 20vh 40vw;
    position: relative;
    z-index: 2;
}

/*予約までの流れ*/
#booking .booking_content{
    padding: 45vh 0 30vh;
    position: relative;
    z-index: 2;
}

/*質問*/
#faq .faq_content{
    padding: 40vh 10vw 10vh 40vw;
    position: relative;
    z-index: 2;
}

.text-box{
    padding: 50px 25px;
    width: 60vw;
    height: 50vh;
    background-color: rgba(255,255,255,0.9);
    color: #555555;
}

.text-box p{
    margin: 0 0 10px;
    font-size: 40px;
}
