*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Noto Sans JP"; 
}

/*ヘッダーロゴ*/
.header_logo{
	width: 100vw;
	height: 80px;
	vertical-align: bottom;
	display: flex;
	align-items: center;
}

.header_logo > .logo{
	margin-left: 20%;
}

.header_logo > .address{
	margin: 0 15% 0 auto;
}

.header_logo > span > a{
	text-decoration: none;
	color: #555555;
}

.header_logo > .logo > a{
	font-size: 24px;
}

/*写真挿入部分*/
.top > .top_image > .image{
	width: 100vw;
	height: 77vh;
	background-image: url(IMG/room_image.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/*ヘッダーメニュー*/
.site_header{
	width: 100%;
	height: 15vh;
	text-decoration: none;
	list-style: none;
	position: absolute;
	background-color: #ffffff;
}

.site_header > .header_menu{
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.site_header > .header_menu > li{
	width: 15%;
	height: 30px;
	margin: 2px;
	text-align: center;
	list-style: none;
}

.site_header > .header_menu > li > a{
	text-decoration: none;
	color: #222222;
}

.site_header.fixed{
    position: fixed;
    top: 0;
}

/*サービス紹介画面*/
.service{
	width: 100vw;
	height: 85vh;
	background-color: #eeeeee;
}

.service > .service_content{
	text-align: center;
}

.service > .service_content > span > h2{
	font-size: 36px;
}

/*会社情報画面*/
.about{
	width: 100vw;
	height: 85vh;
	margin-top: 15vh;
	background-color: #eeeeee;
}

.about > .about_content{
	text-align: center;
}

.about > .about_content > span > h2{
	font-size: 36px;
}

/*予約までの流れ画面*/
.booking{
	width: 100vw;
	height: 85vh;
	background-color: #eeeeee;
}

.booking > .booking_content{
	text-align: center;
}

.booking > .booking_content > span > h2{
	font-size: 36px;
}

/*Q&Aの紹介画面*/
.qa{
	width: 100vw;
	height: 85vh;
	background-color: #eeeeee;
}

.qa > .qa_content{
	text-align: center;
}

.qa > .qa_content > span > h2{
	font-size: 36px;
}
