/*ページ共通部分*/
*{
	margin: 0;
	padding: 0;
}

/*ヘッダー部分*/
header{
	width: 100vw;
	height: 15vh;
	position: fixed;
	z-index: 9999;
	top: 0;
	background-color: rgba(255, 255, 255, 0.7);
}

/*ヘッダー_ロゴ部分*/
header > .title{
	vertical-align: middle;
	text-align: center;
	margin-top: 20px;
}

header > .title > .logo{
	margin: 20px;
	font-size: 42px;
	color: #333333;
}

header > .title > .menu{
	position: absolute;
	top: 20px;
	left: 13.5vw;
	font-size: 35px;
	cursor: pointer;
	z-index: 9999;
	color: #333333;
}

/*ヘッダー_メニューバー部分*/
header, .close{
	font-family: 'Noto Sans JP', sans-serif;
}

.close{
	transform: translate(-100vw, -15vh);
	height: 110vh;
	width: 35vw;
	z-index: 1000;
	position: fixed;
	background-color: #222222;

	transition: all ease .8s 0s;
}

.close > ul{
	display: block;
	margin-top: 20vh;
}

.close > ul > li{
	list-style: none;
	text-align: center;
	margin-top: 9vh;
}

.close > ul > li > a{
	text-decoration: none;
	color: #FFF6E5;
	font-size: 24px;
}

.close > ul > li > a:hover{
	text-shadow: 0 0 1rem #FEEDCC, 0 0 6ch #FFA500, 0 0 1ch #FEEDCC, 0 0 1rem #FFA500;
}

/*メニューバーアクティブ状態*/
.open{
	transform: translate(0, -15vh);
}

/*スリック導入部分*/
.top{
	margin-top: 15vh;
	width: 100vw;
	height: 85%;
	display: flex;
	justify-content: center;
}

.top_image{
	max-width: 90%;
	margin: 0 auto 20px;
}

.top_image img{
	width: 100%;
}

/*企業理念説明部分*/
.ci{
	width: 100vw;
}

.ci > .text_ci{
	width: 80vw;
	height: 50vh;
	margin: 0 auto;
}

.ci > h1{
	text-align: center;
	font-size: 40px;
	padding-top: 20vh;
}

.ci > h3{
	text-align: center;
	padding-bottom: 10vh;
}

.ci > .text_ci > .content_ci{
	text-align: center;
	margin-bottom: 5vh;
	font-size: 20px;

	transition: all linear 0.5s 0s;
}

.ci > .text_ci > #emphasis_wrapper{
	max-width: 410px;
	margin: 5vh auto;
}

.ci > .text_ci > div > .emphasis_ci{

	transition: all ease 1s 0.2s;

}

.ci > .main_ci{
	width: 100vw;
	margin-top: 5vw;
	background-image: url(../IMG/IMG_8226.jpg);
	background-size: 150%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-x: 50%;
	background-position-y: 50%;
	z-index: -999;
	position: relative;
}

.ci > .main_ci::before{
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
}

.ci > .main_ci > .wrapper_ci{
	width: 100%;
	height: 500px;
	padding: 10vh 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
	transition: all ease-in 0.7s 0s;
}

.emphasis_ci, .emphasis_ci1, .emphasis_ci2{
	font-size: 24px;
}

.ci > .main_ci > .wrapper_ci > .img_ci{
	width: 80%;
	height: 100%;
	background-size: cover;
	background-position: center;
	max-width: 750px;
	z-index: 1;
	box-shadow: 10px 10px 10px rgba(10, 10, 10, 0.3);
	filter: grayscale(40%);
}

.ci > .main_ci > .wrapper_ci > #img_ci1{
	background-image: url(../IMG/IMG_2619.JPG);
	margin-left: 0;
}

.ci > .main_ci > .wrapper_ci > #img_ci2{
	background-image: url(../IMG/IMG_2621.JPG);
	margin: 0 0 0 auto;
}

.ci > .main_ci > .wrapper_ci > #img_ci3{
	background-image: url(../IMG/IMG_2649.JPG);
	margin-left: 0: 
}

.ci > .main_ci > .wrapper_ci > span{
	height: 300px;
	width: 500px;
	background-color: #fff;
	z-index: 100;
	box-shadow: 10px 10px 10px rgba(10, 10, 10, 0.3);
}

.ci > .main_ci > .wrapper_ci > #main_ci1{
	transform: translateX(-15vw);
}

.ci > .main_ci > .wrapper_ci > #main_ci2{
	transform: translateX(50vw);
}

.ci > .main_ci > .wrapper_ci > #main_ci3{
	transform: translateX(-15vw);
}

.ci > .main_ci > .wrapper_ci > span > p{
	width: 100%;
	margin-top: 40px;
	text-align: center;
}

.ci > .main_ci > .wrapper_ci > #main_ci3 > p{
	margin-top: 20px;
}

.ci > .main_ci > .wrapper_ci > span > .content_ci{
	font-size: 16px;
}



/*業務内容説明部分*/
.work{
	width: 100vw;
}

.work > h1{
	text-align: center;
	padding-top: 15vh;
	font-size: 40px;
}

.work > h3{
	text-align: center;
	padding-bottom: 10vh;
}

.work > .text_work{
	margin: 0 auto;
	display: flex;

	transition: all ease 0.8s 0s;
}

.work > .text_work > div{
	width: 50vw;
	height: 45vw;
	overflow: hidden;
	position: relative;
}

.work > .text_work > .content_ses::after{
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	background-image: url("../IMG/IMG_2644.JPG");
	background-size: cover;
	background-position: center;
	z-index: -100;
	transition: all ease 0.3s 0s
}

.work > .text_work > .content_dev::after{
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	background-image: url("../IMG/IMG_2654.JPG");
	background-size: cover;
	background-position: center;	
	z-index: -1;
	transition: all ease 0.3s 0s
}

.work > .text_work > .content_ses:hover::after{
	transform: scale(1.1);
	opacity: 0.8;
}

.work > .text_work > .content_dev:hover::after{
	transform: scale(1.1);
	opacity: 0.8;
}

.work > .text_work > div > h3{
	text-align: center;
	font-size: 22px;
	font-weight: lighter;
	color: #eeeeee;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.work > .text_work > div > span{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	transition: all ease 1s 0s;
}

.content_ses > span{
	transform: translateX(50vw);
	opacity: 0;
}

.content_ses > .open{
	transform: translateX(0px);
	background-color: rgba(100, 100, 100, 0.9);
	opacity: 1;
}

.content_dev > span{
	transform: translateX(-50vw);
	opacity: 0;
}

.content_dev > .open{
	transform: translateX(0px);
	background-color: rgba(100, 100, 100, 0.9);
	opacity: 1;
}

.work > .text_work > div > span > p{
	color: #fff;
	padding-left: 5%;
}

.work > .text_work > div > span > .content_work{
	padding-top: 2%;
}

.work > .text_work > div > span > .contenttop_work{
	padding-top: 10%;
}

/*企業概要説明部分*/
.about{	
	width: 100vw;
	height: 100vh;
}

.about > h1{
	text-align: center;
	padding-top: 15vh;
	font-size: 40px;
}

.about > h3{
	text-align: center;
	padding-bottom: 10vh;
}

.about > .text_about{
	width: 700px;
	height: 60vh;
	margin: 0 auto;
	box-shadow: 0px 0px 20px 10px rgba(10, 10, 10, 0.2);

	display: flex;
	justify-content: center;
	align-items: center;

	transition: all ease 0.5s 0s;
}

.about > .text_about:hover{
	box-shadow: 0px 0px 20px 15px rgba(10, 10, 10, 0.3);	
}

.about > .text_about > span{
	font-size: 17px;
	color: #333;
}

.about > .text_about > span > p{
	padding-top: 2vh;
}

/*アクセス説明部分*/
.access{
	width: 100vw;
}

.access > .text_access > h1{
	text-align: center;
	font-size: 40px;
	padding-top: 20vh;
}

.access > .text_access > h3{
	text-align: center;
	padding-bottom: 10vh;
}

.access > .text_access > span{
	text-align: center;
	width: 70vw;
	padding-bottom: 15px;
	display: block;
	margin: 0 auto;
}

.access > .text_access > .textCenter{
	width: 60vw;
	margin: 0 auto;
}

.access > .text_access > .textCenter > iframe{
	width: 100%;
	height: 60vh;
	max-height: 500px;
	margin-top: 5vh;
}

/*お問い合わせ部分*/
.contact{
	width: 100vw;
}

.contact > h1{
	font-size: 40px;
	text-align: center;
	padding-top: 20vh;
}

.contact > h3{
	text-align: center;
	padding-bottom: 7vh;
}

.contact > .text_contact > .mailForm{
	width: 60vw;
	max-width: 900px;
	padding: 10vh 0 10vh 0;
	margin: 0 auto 15vh auto;
	border-style: solid;
	border-width: 2px;
	border-color: #bbb;
	box-shadow: 0px 0px 50px rgba(100, 100, 100, 0.1);
}

.contact > .text_contact > .mailForm > form{
	display: flex;
}

.contact > .text_contact > .mailForm > form > span{
	width: 50%;
}

.contact > .text_contact > .mailForm > form > span > p{
	width: 100%;
	height: 30px;
	margin-bottom: 30px;
}

.contact > .text_contact > .mailForm > form > span > #title_textarea{
	margin-bottom: 155px;
}

.contact > .text_contact > .mailForm > form > span > p > input{
	width: 80%;
	height: 24px;
	font-size: 16px;
}

.contact > .text_contact > .mailForm > form > span > p > textarea{
	width: 80%;
	height: 130px;
	font-size: 16px;
}

.contact > .text_contact > .mailForm > form > span > #contact_button{
	display: flex;
}

.contact > .text_contact > .mailForm > form > span > #contact_button > input{
	width: 30%;
	height: 20px;
	cursor: pointer;
	margin-left: 10%;
}

/*フッター部分*/

footer{
	height: 70vh;
	width: 100vw;
}

footer > .footer_img{
	width: 100%;
	height: 40%;
	background-image: url("../IMG/IMG_1007_Original.jpg");
	background-size: cover;
	background-position: center;
}

footer > .footer_img:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 40%;
	background-color: rgba(50, 50, 50, 0.5);
}

footer > .site_map{
	width: 100%;
	height: 100%;
	background-color: #212a37;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer > .site_map > ul{
	height: 80%;
}

footer > .site_map > ul > li{
	margin: 5vh;
	list-style: none;
}

footer > .site_map > ul > li > a{
	text-decoration: none;
	color: #ccc;
	font-size: 14px;
}

footer > .site_map > ul > li > a:hover{
	color: #fff;
}

footer > .site_map > ul > li > p{
	color: #fff;
	font-size: 16px;
}